.root {
  background-color: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

/*
   Changing the placeholder color 
  */
/* Chrome, Firefox, Opera, Safari 10.1+ */
.root::placeholder {
  color: var(--text-area-placeholder-color) !important;
  opacity: 1 !important; /* Firefox */
}

/* Internet Explorer 10-11 */
.root:-ms-input-placeholder {
  color: var(--text-area-placeholder-color) !important;
}

/* Microsoft Edge */
.root::-ms-input-placeholder {
  color: var(--text-area-placeholder-color) !important;
}
