.root button {
  color: black;
  text-transform: none;
  font-size: 18px;
  padding: 0;
  min-width: 110px;
  margin: 0 var(--tabs-margin);
  opacity: 1;
}

[unread-count]::after {
  content: attr(unread-count);
  color: white;
  background-color: var(--secondaryColor);
  border-radius: 50%;
  height: 24px;
  min-width: 24px;
  width: fit-content;
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}
