.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;

  position: relative;
  cursor: pointer;
  width: fit-content;
  border-radius: 16px;
  padding: 0.3rem;
  padding-left: 0.5rem;
  font-size: 13px;

  background-color: var(--switch-main-color);
  color: var(--arash-white-clr);
}

.inactive {
  flex-direction: row-reverse;
  padding-left: 0.3rem;
  padding-right: 0.5rem;
}

.thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--arash-white-clr);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
