.root {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: calc(var(--navbarSpace) * -1);
  width: calc(100% + 5rem);
  margin: 0 -2.5rem;
  background-color: var(--tertiaryColor);
  padding: 1.5rem 2rem;
}
