.root {
  position: fixed;
  z-index: 500;
  background-color: var(--whiteColor);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  padding: var(--sidedrawer-modal-padding);
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: var(--sidedrawer-modal-width);
  transition: all 0.5s ease-out;
  transform: translateX(100vw);
  opacity: 0;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.closeIcon {
  color: var(--primaryColor) !important;
  font-size: 42px !important;
  cursor: pointer;
  position: relative;
  left: -9px;
  top: -9px;
}

.shrinkContainer {
  background-color: var(--whiteColor);
  position: absolute;
  top: 25%;
  width: 100px;
  height: 100px;
  border-radius: 50% 0;
  cursor: pointer;
  transform: translateX(-50%) rotate(-0.125turn);
  z-index: -1;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.shrinkIcon {
  color: var(--secondaryColor) !important;
  font-size: 42px !important;
  transform: rotate(0.125turn) !important;
  position: relative;
  top: 12px;
  left: 12px;
  transition: all 0.4s ease-out !important;
}

.rotate {
  transform: rotate(0.625turn) !important;
}
