.root {
  width: fit-content;
  background-color: var(--arash-white-clr);
  padding: 1rem 2rem;
  border-radius: 18px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.onClick {
  cursor: pointer;
}
