.root {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--arash-border-clr);
  padding: 0px 10px;
  height: 38px;
  background-color: var(--arash-white-clr);
  width: fit-content;
}

.root input {
  height: 30px;
  flex: 1;
  font-size: 18px;
}

.icon {
  font-size: 20px;
  color: var(--arash-white-clr);
  background-color: var(--arash-primary-clr);
  padding: 0.37rem;
  border-radius: 50%;
  cursor: pointer;
}
