.root {
  --searchbarColor: #ccc;

  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--searchbarColor);
  padding: 0px 10px;
  height: 38px;
  background-color: white;
  width: fit-content;
}

.root input {
  height: 30px;
  flex: 1;
  font-size: 18px;
}

.icon {
  font-size: 20px;
  color: white;

  /* TODO: color should come from outside
  Maybe a theme so that we can use it for every component */
  background-color: lightblue;
  padding: 0.37rem;
  border-radius: 50%;
  cursor: pointer;
}
