.root {
  border-collapse: collapse;
  width: 100%;
}

.root th {
  text-align: left;
  font-weight: 700;
  font-size: large;
}

.root thead {
  border-bottom: var(--arash-border-sz) solid var(--arash-black-clr);
}

.root tbody tr {
  border-bottom: var(--arash-border-sz) solid rgba(45, 58, 71, 0.25);
}

.root tbody tr td:first-child {
  text-transform: capitalize;
}

.root th,
.root td {
  padding: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 19px;
}

.alignCenter {
  text-align: center !important;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.5;
}

.subtitle {
  display: block;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  top: 5px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconContainer div {
  margin-left: 7px;
}

.icon {
  height: 40px;
  width: 40px;
}
