.root {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--primaryColor);
}

.active,
.root:hover {
  color: var(--secondaryColor);
}

.root > div {
  margin-left: 10px;
}

.root > div > p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.root > div > span {
  font-size: 14px;
  color: rgba(45, 58, 71, 0.65) !important;
}

.divider {
  border-top: 1px solid rgba(45, 58, 71, 0.25);
}
